{{$data := .}}

<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <title>Hallow World!</title>
	</head>
	<body>
	    {{range $index, $element := $data}}
			<ul>
				<li> ID - {{$element.ID}} </li>
				<li> Full Name - {{$element.First}} {{$element.Last}} </li>
				<li> Age - {{$element.Age}} </li>
	   		</ul>
		{{end}}
	</body>
</html>