<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Hallow World!</title>
	</head>
	<body>
		<h2>Halvazone Enterprise</h2>
        <h4>Administrator Panel<h4>
        <h4>Restricted Access<h4>
        <ul>
			<li><h6>Welcome,{{.First}} {{.Last}}!</h6></li>
            <li><a href="/admin/users">Show Users</a></li>
            <li><a href="/admin/contents">Show Contents</a></li>
            <li><a href="/logout">Log out!</a></li>
        </ul>
	</body>
</html> 