<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Hallow World!</title>
	</head>
	<body>
		<h2>World of Warcraft</h2>
		<img src="/wow.png" alt="warcraft poster">
	</body>
</html> 
	