<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Hallow World!</title>
	</head>
	<body>
		<main>
			<h2>{{.First}} {{.Last}}!</h2>
			<p>Email: {{.UserName}}</p>
			<p>Access Level: {{.AccessLevel}}</p>
			<p>This user is probably gay</p>
			<p>Social points: 69</p>
			<p>Title: Master Baiter</p>
		</main>	
	</body>
</html> 
	